@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    background-color: whitesmoke;
}

.container{
    width: 960px;
    margin: 0 auto;
}



/* Header */
#top{
background-image: url(http://albanianstudies.weebly.com/uploads/3/4/6/9/3469404/header_images/1427772824.jpg);
font-family: 'Bungee Spice', cursive;
font-size: 36px;
width: auto;
height: 100px;
padding: 50px 0 10px 520px;
border: 5px dashed white;
}

.header { 
    color: white;
    margin: 20px 0 40px 0;

}


li{
    display: inline;
    height: 100px;
    width: 80px;
    padding-left: 0px;
}

li >a{
    
    font-size: 18px;
    line-height: 1.5;
    text-decoration: none;
    padding: 15px;
    margin: 5px 5px;
    border: 1px solid red;
    border-radius: 10px;
}
li >a:hover{
 
background-color: rgb(217, 15, 15);
color: black;
font-size: 20px;
}

 

/* Head Pictures */

.head-pic{
    border-radius: 0px 100px / 120px;
box-shadow: 20px 24px 16px 0px rgba(0,0,0,0.75);
margin: 10px 10px ;
width: 900px;

}


.top-pic{
    margin: 32px 0px;
}


/* Section 1 */
.section-1{
    padding: 5px auto;
}

blockquote{
  color: green;
}



/* Section 2 */
.section-2{
    padding: 5px auto;
}

.klima-img{
    width: 960px;

}

/* Section 3 */
.section-3{
    margin: 30px 0;
}

.pazari{
    width: 880px;
    border: 40px solid rgb(70, 58, 24);
}

/* Section 4 */
.section-4{
    margin: 30px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* Section 5 */
.mozaik{
    padding-left: 55px;
    
}

/* Section 6 */

.bashkia{
    width: 400px;
}



.table{
margin: 0;
}



h1, h2, h3, h4 {
font-family: "Audiowide", sans-serif;
padding: 0 5px;
}

table, th, td {
    width: 900px;
    border:1px solid blue;
    
}

p, tr, td { font-family: "Trirong", serif;
}

.btn{
width: 150px;
height: 60px;
font-size: 30px;
border-radius: 20px;
}

.btn a{
    text-decoration: none;
}
.btn:hover{
    cursor: pointer;
    font-size: 3rem;
}

.fa{
    background-color: rgba(36, 32, 128, 0.8);
    color: white;
    width: 940px;
    height: 20px;
    padding: 10px 10px;
    color: white;
}
